.App {
  /* text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto); */
}



.siteBackground {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 25;
  height:100%;
  background: url('../img/books2.jpg') no-repeat center;
  background-size: cover; 
}




.homeMain {
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.455),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);

  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 50px;
  font-size: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.title{
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 5;
  color:White;
}



.title {
  font-size: 25px;
}

.aLittleAbout{
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 10;
  grid-row-end: 13;
  color:white;
  text-decoration: underline;
}

.WhatWeDo{
  /* background-color: rgba(221, 207, 207, 0.219); */
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 14;
  grid-row-end: 17;
  font-size: 15px;
  color:white;
  text-align: center;
  


}

.WhoWeAre {
  /* background-color: rgba(221, 207, 207, 0.219); */
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 14;
  grid-row-end: 17;
  font-size: 15px;
  color:white;
  text-align: center;


}

.AppDetails {
  /* background-color: rgba(221, 207, 207, 0.219); */
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 14;
  grid-row-end: 17;
  font-size: 15px;
  color:white;
  text-align: center;
  

}

.WhatWeDoTwo {
  /* background-color: rgba(221, 207, 207, 0.219); */
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 17;
  grid-row-end: 21;
  font-size: 15px;
  color:white;
  text-align: center;

}

.WhoWeAreTwo {
  /* background-color: rgba(221, 207, 207, 0.219); */
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 17;
  grid-row-end: 21;
  font-size: 15px;
  color:white;
  text-align: center;

}

.AppDetailsTwo {
  /* background-color: rgba(221, 207, 207, 0.219); */
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 17;
  grid-row-end: 21;
  font-size: 15px;
  color:white;
  text-align: center;
}

.AppDetailsTwoo {
  /* background-color: rgba(221, 207, 207, 0.219); */
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 30;
  grid-row-end: 30;
  font-size: 15px;
  color:white;
}

@media(max-width: 700px) {

  particles-js {
    color: transparent;
  }

  .title{
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 4;
    color:White;
  }
  

  .title {
    font-size: 15px;
  }
  
  
  .aLittleAbout{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 5;
    color:white;
    text-decoration: underline;
    font-size: 20px;
  }

  .WhatWeDo{
    /* background-color: rgba(221, 207, 207, 0.219); */
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 10;
    font-size: 15px;
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.445);
  
  
  }
  
  .WhoWeAre {
    /* background-color: rgba(221, 207, 207, 0.219); */
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 13;
    font-size: 15px;
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.445);

  
  
  }
  
  .AppDetails {
    /* background-color: rgba(221, 207, 207, 0.219); */
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 13;
    grid-row-end: 16;
    font-size: 15px;
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.445);

    
  
  }
  
  .WhatWeDoTwo {
    /* background-color: rgba(221, 207, 207, 0.219); */
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 16;
    grid-row-end: 18;
    font-size: 15px;
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.445);

  
  }
  
  .WhoWeAreTwo {
    /* background-color: rgba(221, 207, 207, 0.219); */
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 18;
    grid-row-end: 21;
    font-size: 15px;
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.445);

  
  }
  
  .AppDetailsTwo {
    /* background-color: rgba(221, 207, 207, 0.219); */
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 21;
    grid-row-end: 24;
    font-size: 15px;
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.445);

  }
  
  .AppDetailsTwoo {
    /* background-color: rgba(221, 207, 207, 0.219); */
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 30;
    grid-row-end: 31;
    font-size: 15px;
    color:white;
    background-color: rgba(0, 0, 0, 0.445);

  }

}


